---
import Section from "../Section.astro"
import { work } from "@cv"

---

<Section title="Experiencia">
    <!-- <ul>
        {work.map(({name, startDate, endDate, position, summary}) => {
            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual" 
            const years = `${startYear} - ${endYear}`  
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{name}</h3>
                                <h4>{position}</h4>
                            </div>
                            <time datetime="">{years}</time>
                        </header>
                        <footer>
                            <p>{summary}</p>
                        </footer>
                    </article>
                </li>
            )
        })}
    </ul> -->
    <h4>Actualmente no tengo experiencia laboral. </h4>
</Section>
<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    article h3 {
        font-weight: 400;
        color: #333;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
    time {
        font-size: 1rem;
        color: #555;
    }
    html.dark {
        article h4 {
            color: #dad9d9;
        }
        time {
            color: #aaa;
        }
    }
    html.dark article h3 {
        color: #f5f5f5;
    }
    @media screen and (max-width: 500px){
        header {
            flex-direction: column;
            align-items: start;
            div {
                margin-bottom: 0.5rem;
            }
        }
    }
</style>